
RewriteEngine On
AddDefaultCharset UTF-8

Options -Indexes
Options +SymLinksIfOwnerMatch
# Options +SymLinksifOwnerMatch

#RewriteBase /gitlab-projects/markdown-to-html/

# Allow harmless files
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
# Allow file upoad handler
#RewriteCond %{REQUEST_URI} !(^|/)imanager/upload/server/php($|/.*$)$ [NC]
# Block access to any htaccess files
RewriteCond %{REQUEST_URI} (^|/)\.htaccess$ [NC,OR]
# Block access to protected data directories
RewriteCond %{REQUEST_URI} (^|/)data/(datasets|cache|logs|backups|settings)($|/.*$) [OR]
# Block access to imanager directory
RewriteCond %{REQUEST_URI} (^|/)imanager($|/.*$) [OR]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editor/(.*)$ editor/index.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?id=$1 [L,QSA]