html {
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: block;
	word-wrap: break-word;
	overflow: hidden;
	color: #555;
	box-sizing: border-box;
}

main * {
	box-sizing: inherit;
}

header {
	padding: 15px 0 15px 0;
	border-bottom: 1px solid rgba(0,0,0,.07);
	width: 100%;
	font-size: 14px;
	display: table;
}
header ul {
	display: table-cell;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: top .5s ease;
	-moz-transition: top .5s ease;
	-o-transition: top .5s ease;
	transition: top .5s ease;
}
header .brand-wrapper .brand {
	text-transform: uppercase;
	font-weight: 600;
}
header .brand-wrapper .brand a:hover {
	text-decoration: none;
}

.clip {
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1060px;
}

.page-inner {
	box-sizing: content-box;
	margin: 0 auto;
	padding: 15px;
	width: 100%;
	max-width: 1060px;
}

#page-header {
	padding: 12px 0 15px 0;
	/* margin-bottom: 15px;
	border-bottom: 4px solid rgba(0,0,0,.05); */
}

h1, h2, h3, h4, h5, strong {
	font-weight: 600;
	color: #444;
}

#page-header h1 {
	margin: 0;
	padding: 0;
	font-size: 1.8em;
}

#page-header h1 a:hover {
	text-decoration: none;
}

#sidebar-wrapper {
	float: right;
	overflow: hidden;
	width: 300px;
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
}

#sidebar-wrapper .sidebar-navi {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: top .5s ease;
	-moz-transition: top .5s ease;
	-o-transition: top .5s ease;
	transition: top .5s ease;
	border-top: solid 1px #efefef;
	border-bottom: solid 1px #efefef;
}
#sidebar-wrapper ul {
	list-style: none;
	padding: 0;
}
#sidebar-wrapper .sidebar-navi li ul li {
	border-top: solid 1px #efefef;
}

#sidebar-wrapper .sidebar-navi li a {
	padding: 10px;
	display: inline-block;
	width: 100%;
	line-height: 150%;
	color: #008cff;
	text-decoration: none;
}

#sidebar-wrapper .sidebar-navi li ul {
	display: none;
}

#sidebar-wrapper .sidebar-navi li.current > ul,
#sidebar-wrapper .sidebar-navi li.active > ul {
	display: block;
}

#sidebar-wrapper .sidebar-navi li.current ul a,
#sidebar-wrapper .sidebar-navi li.active ul a {
	padding-left: 20px;
}

#sidebar-wrapper .sidebar-navi li a:hover {
	background: #fafafa;
}

#sidebar-wrapper .sidebar-navi li.current > a {
	background: #fafafa;
}

@media (max-width: 980px) {
	#sidebar-wrapper {
		float: left;
		width: 100%;
		margin: 15px 0;
		padding-left: 0;
		padding-right: 0;
	}
}

footer {
	padding: 15px 0;
	border-top: 1px solid rgba(0,0,0,.07);
	width: 100%;
	font-size: 14px;
}

a {
	color: #008cff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.btn {
	color: inherit;
}

#markdown {
	display: none;
}

#content {
	height: auto;
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
	max-width: 740px;
	float: left;
	margin: 10px 10px 10px 0;
	line-height: 1.6em;
	letter-spacing: .2px;
	color: #555;
	word-wrap: break-word;
}

#disqus_thread {
	margin: 0;
	width: 100%;
	max-width: 740px;
}

@media (max-width: 1100px) {
	#content {
		max-width: 650px;
	}
	#disqus_thread {
		max-width: 650px;
	}
}

@media (max-width: 980px) {
	.page-inner {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#content {
		max-width: 100%;
	}
	#disqus_thread {
		max-width: 100%;
	}
}

#content blockquote, #content dl, #content ol, #content p, #content table, #content ul {
	margin-top: 0;
	margin-bottom: .85em;
}

#content blockquote {
	margin: 0;
	padding: 10px 15px;
	color: #818181;
	background-color: #fafafa;
	border-left: 4px solid #dbdbdb;
}

#content blockquote p:last-child {
	margin-bottom: 0;
}

#content p {
	orphans: 3;
	widows: 3;
}

#content img {
	max-width: 100%;
	border: none;
	/*border: 1px solid rgba(0,0,0,.07);*/
}

#content h1,#content h2,#content h3,#content h4 {
	margin-bottom: .4em;
}

hr {
	height: 4px;
	padding: 0;
	margin: 1.7em 0;
	overflow: hidden;
	background-color: #e7e7e7;
	border: none;
}

#content code, #content pre {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	direction: ltr;
	margin: 0;
	border: none;
	color: inherit;
	padding: .2em;
	font-size: .94em;
	background-color: #f4f4f4;
}

#content pre {
	overflow: auto;
	word-wrap: normal;
	margin: 0;
	padding: .85em 1em;
	margin-bottom: 1.275em;
	background: #f7f7f7;
}

#content pre>code {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	white-space: pre;
	background: 0 0;
	font-weight: 200;
}


.clear:after {
	clear: both;
	content: "";
	display: table;
}

.message .error {
	padding: 15px;
	background-color: #fff2f3;
	color: #da0000;
	border: solid 3px #f3e3e4;
	border-radius: 3px;
}

.message .success {
	padding: 15px;
	background-color: #e3feda85;
	color: #31695a;
	border: solid 3px #e7f3e3;
	border-radius: 3px;
}