/* work-sans-regular - latin */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/work-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* work-sans-600 - latin */
  @font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		 url('../fonts/work-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/work-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* work-sans-700 - latin */
  @font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/work-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/work-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* work-sans-900 - latin */
  @font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 900;
	src: local(''),
		 url('../fonts/work-sans-v18-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/work-sans-v18-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* work-sans-italic - latin */
  @font-face {
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 400;
	src: local(''),
		 url('../fonts/work-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/work-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
:root {
	--main-text-color: #555;
	--dark-text-color: #293658;
	--light-text-color: #efefef;
	--light-active-text-color: #ffffff;
	--border-color: #a0a4af;
	--dark-border-color: #172138;
	/* --border-black-color: #020202; */
	--dark-color: #172138;
	--dark-active-color: #293658;
}

html {
	font-size: 76.5%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	font-family: 'Work Sans', sans-serif !important;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: block;
	word-wrap: break-word;
	overflow: hidden;
	color: var(--main-text-color);
	box-sizing: border-box;
}

main * {
	box-sizing: inherit;
}

header {
	padding: 40px 0;
}

article header {
    padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	color: var(--dark-text-color);
	text-transform: uppercase;
	font-family: inherit;
}

h1 {
	margin: 10px auto;
	padding: 2.8rem 0;
	font-size: 4.7rem;
	text-align: center;
}

h3 {
	font-size: 1.9rem;
}

strong {
	font-weight: 600;
}

blockquote {
	margin: 0;
	padding: 10px 15px;
	color: #424d6c;
	background-color: #fafafa;
	border-left: 4px solid #a0a4af;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: inherit;
    line-height: inherit;
    font-style: inherit;
}

blockquote p:last-child {
	margin-bottom: 0;
}

em {
	color: inherit;
}

code, pre {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
	border: none;
	font-size: .90em !important;
	border-radius: 6px;
}

pre {
	overflow: auto;
	word-wrap: normal;
	margin: 0;
	padding: .85em 1em;
	margin-bottom: 1.275em;
	background: #f7f7f7;
}

pre>code {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	white-space: pre;
	background: 0 0;
	font-weight: 200;
}

footer {
	padding: 30px 0 20px;
	border-top: 1px solid rgba(0,0,0,.07);
	width: 100%;
	font-size: 1.1rem;
	background-color: var(--dark-color);/*  #2a3757; */
	color: #cacaca;
}

footer p,footer div,footer h3,footer a {
	color: var(--light-text-color);
}

footer a {
	font-weight: 600;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #bbbbbb;
}

footer a:hover {
	color: var(--light-active-text-color);
}

footer a.decent {
	text-decoration: none;
}

footer .uk-input {
	min-width: 100%;
}

footer .uk-grid-divider>:not(.uk-first-column)::before {
	border-color: var(--dark-text-color);
	top: 30px;
}

footer .uk-grid-divider.uk-grid-stack>.uk-grid-margin::before {
	border-color: var(--dark-text-color);
}

footer hr {
    border-color: var(--dark-text-color);
}

.uk-input, .uk-textarea {
	width: 100%;
	height: 100%;
	padding: 16px;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	border: solid 1px var(--border-color);
	border-radius: 6px !important;
	font-family: inherit;
}

form button {
	height: 100%;
	padding: 16px;
	font-size: 13px;
	line-height: 19px;
	font-weight: 600;
	text-transform: uppercase;
	border: solid 1px var(--dark-color);
	border-radius: 6px;
	background-color: var(--dark-color);
	color: var(--light-text-color);
}

form button:hover {
	background-color: var(--dark-active-color);
}

footer .uk-nav li>a>span {
    text-decoration: underline;
	font-weight: 600;
    text-decoration-style: dotted;
    text-decoration-color: #bbbbbb;
}

footer .uk-nav li.uk-active>a>span, footer .uk-nav li>a>span:hover {
	text-decoration-style: solid !important;
	color: var(--light-active-text-color);
}

figure {
	margin: 25px 0
}

canvas, img, video {
	border-radius: 6px;
}

.sidebar {
	font-size: 1.5rem;
}

.uk-border-rounded {
    border-radius: 6px;
}

.uk-button-default {
	padding: 6px 13px;
    font-size: 1.2rem;
    font-weight: 600;
	color: var(--light-text-color);
    border: solid 2px var(--dark-border-color);
    border-radius: 4px;
    outline: none;
    transition: all 0.3s;
    cursor: pointer !important;
	background-color: var(--dark-color);
}

.uk-button-default:hover {
    background-color: var(--dark-active-color);
    color: var(--light-active-text-color);
    border-color: var(--dark-border-color);
}

.uk-link, a {
	color: #036ad1
}

.uk-article-meta {
	font-size: 1.1rem
}

.uk-container:not(.uk-container-xsmall) {
	max-width: 1100px;
}

.brand-wrapper .uk-logo {
	font-family: 'Work Sans', sans-serif !important;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.4rem;
	color: var(--dark-text-color);
}

.brand-wrapper .uk-logo:hover {
	text-decoration: none;
}

.uk-navbar-right .uk-navbar-nav li a {
	font-family: 'Work Sans', sans-serif !important;
	color: var(--dark-text-color);
	text-transform: uppercase;
	font-weight: 700 !important;
	font-size: 1.1rem;
	letter-spacing: 1px;
}

.uk-navbar-right .uk-navbar-nav li a:hover {
	text-decoration: underline;
}

.uk-navbar-nav li.uk-active a {
	text-decoration: underline;
}

.uk-navbar-toggle {
    color: var(--dark-text-color);
}

.uk-navbar-item:first-child {
	padding-left: 0;
}

.uk-navbar-right .uk-navbar-nav li:last-child a {
	padding-right: 0;
}

.uk-offcanvas-bar {
	background-color: var(--dark-color);
	border-left: solid 1px #566281;
}

.uk-offcanvas-bar .uk-nav-default {
    font-family: 'Work Sans', sans-serif !important;
	color: var(--dark-text-color);
	text-transform: uppercase;
	font-weight: 700 !important;
	font-size: 1rem;
	letter-spacing: 1px;
}

.uk-alert {
	border-radius: 6px;
}

.uk-alert-success {
    background: #dcf7e3;
    color: #249155;
}

.uk-pagination>*>* {
	padding: 5px 12px;
	font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--dark-color);
}

.uk-pagination>* {
    display: flex;
    align-items: center;
}

.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

#subscribe-form {
	position: relative;
}

#subscribe-form input {
	box-sizing: border-box;
	background-color: #1a2540;
	height: 51px;
	color: var(--light-text-color);
}

#subscribe-form button {
	position: absolute;
    top: 3px;
    right: 3px;
	padding: 0 16px;
 	height: 45px;
    display: inline-block;
	text-align: right;
    font-size: inherit;
    font-weight: 600;
    border: solid 1px var(--border-color);
    border-radius: 4px;
    outline: none;
    color: var(--light-text-color);
    background: var(--dark-color);
    transition: all 0.3s;
    cursor: pointer;
}

.bot-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.info-layer {
	display: inline-block;
	padding: 0 4px;
	position: absolute;
	font-size: 12px;
	right: 20px;
	bottom: 10px;
	font-weight: 400;
	background-color: rgba(255, 255, 255, 0.5);
}

.info-layer p {
	padding: 0;
	margin: 0;
}

.default .page-inner {
	margin: 0 auto;
	padding: 15px;
	width: 100%;
	max-width: 1030px;
}

.soc-icons {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.soc-icons li {
	display: inline-block;
}

.icon {
	display: inline-block;
    background-image: url(../images/soc-icons.svg);
	background-size: 320px 137px;
    background-repeat: no-repeat;
    display: block;
	height: 36px;
    width: 36px;
}

.facebook {
	background-position: -10px -11px;
}
.facebook:hover {
	background-position: -53px -11px;
}

.twitter {
	background-position: -136px -10px;
}
.twitter:hover {
	background-position: -175px -10px;
}

.gg-menu {
	transform: scale(var(--ggs,1))
}
   
.gg-menu,
.gg-menu::after,
.gg-menu::before {
box-sizing: border-box;
position: relative;
display: block;
width: 20px;
height: 3px;
border-radius: 3px;
background: currentColor
}

.gg-menu::after,
.gg-menu::before {
content: "";
position: absolute;
top: -6px
}

.gg-menu::after {
top: 6px
}

.gg-close {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 40px
}

.gg-close::after,
.gg-close::before {
content: "";
display: block;
box-sizing: border-box;
position: absolute;
width: 16px;
height: 2px;
background: currentColor;
transform: rotate(45deg);
border-radius: 5px;
top: 8px;
left: 1px
}

.gg-close::after {
transform: rotate(-45deg)
}

.gg-chevron-right {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px
}
   
.gg-chevron-right::after {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	transform: rotate(-45deg);
	right: 6px;
	top: 4px
}

.gg-chevron-left {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px
}
   
.gg-chevron-left::after {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	transform: rotate(45deg);
	left: 6px;
	top: 4px
}