/*Page*/
html {
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
}

main {
	display: block;
	word-wrap: break-word;
	overflow: hidden;
	color: #555;
	box-sizing: border-box;
}

main * {
	box-sizing: inherit;
}

header {
	padding: 15px 0 15px 20px;
	border-bottom: 1px solid rgba(0,0,0,.07);
	width: 100%;
	font-size: 14px;
	display: table;
}
@media (min-width: 1100px) {
	header {
		padding: 15px 0 15px 320px;
	}
	header.down {
		padding-left: 20px;
	}
}

footer {
	padding: 15px 0 15px 20px;
	border-top: 1px solid rgba(0,0,0,.07);
	width: 100%;
	font-size: 14px;
}
@media (min-width: 1100px) {
	footer {
		padding: 15px 15px 15px 320px;
	}
}
footer.down {
	padding-left: 20px;
}

footer div {
	position: relative;
}

footer div .right-pos {
	float: right;
}

a {
	color: #008cff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.btn {
	color: inherit;
}

h1,h2,h3,h4 {
	margin-bottom: .4em;
}

hr {
	height: 4px;
	padding: 0;
	margin: 1.1em 0;
	overflow: hidden;
	background-color: #e7e7e7;
	border: none;
}

.breadcrumbs {
	display: table-cell;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: top .5s ease;
	-moz-transition: top .5s ease;
	-o-transition: top .5s ease;
	transition: top .5s ease;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li:after {
	content: '\f105';
	font-family: 'FontAwesome';
}

.breadcrumbs li a, .breadcrumbs li span {
	margin: 0 0.5em;
}
.breadcrumbs li a:hover {
	text-decoration: underline;
}
.breadcrumbs li:first-child a, .breadcrumbs li:first-child span {
	margin-left: 0;
}

.guillotine {
	display: table-cell;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 40px;
	-webkit-transition: top .5s ease;
	-moz-transition: top .5s ease;
	-o-transition: top .5s ease;
	transition: top .5s ease;
}
.guillotine li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.guillotine li a:hover {
	text-decoration: none;
}
.guillotine li a:after {
	content: '\f039';
	font-family: 'FontAwesome';
}

.profile {
	display: table-cell;
	text-align: right;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: top .5s ease;
	-moz-transition: top .5s ease;
	-o-transition: top .5s ease;
	transition: top .5s ease;
}

.profile li {
	padding-right: 20px;
	display: inline-block;
}

.profile li.active a {
	color: #555;
	text-decoration: none;
}

.summary-wrapper {
	left: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 0;
	overflow-y: auto;
	height: auto;
	color: #364149;
	background: #fafafa;
	border-right: 3px solid rgba(0,0,0,.07);
	-webkit-transition: left 250ms ease;
	-moz-transition: left 250ms ease;
	-o-transition: left 250ms ease;
	transition: left 250ms ease;
}

.summary-wrapper nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: top .5s ease;
	-moz-transition: top .5s ease;
	-o-transition: top .5s ease;
	transition: top .5s ease;
}

.summary-wrapper nav ul li {
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.summary-wrapper nav ul li:hover {
	background-color: white;
}

.summary-wrapper nav ul li ul {
	padding-left: 20px;
}

.summary-wrapper ul li a, .summary-wrapper ul li span {
	display: block;
	padding: 10px 20px;
	border-bottom: none;
	color: inherit;
	background: 0 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	text-decoration: none;
}

.summary-wrapper ul li a {
	color: #008cff;
}

.summary-wrapper ul li.active a {
	color: #555;
	text-decoration: none;
}

.summary-wrapper .brand-wrapper {
	width: 100%;
	padding: 10px 15px;
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.summary-wrapper .brand-wrapper a {
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Montserrat';
	line-height: 0;
	text-decoration: none;
	color: #555;
}
.summary-wrapper .brand-wrapper a:hover {
	color: #999;
}
.summary-wrapper .brand-wrapper a span {
	padding-bottom: 2px;
	font-size: 16px;
}

@media (min-width: 1100px) {
	.summary-wrapper {
		width: 300px;
	}
	.summary-wrapper.down {
		left: -300px;
	}
}

@media (max-width: 1100px) {
	.summary-wrapper.down {
		width: 100%;
	}
}

.page-wrapper {
	position: relative;
	outline: 0;
}

.page {
	margin-left: 0;
}
@media (min-width: 1100px) {
	.page {
		margin-left: 300px;
	}
}

.page.down {
	margin-left: 0;
}

.page-inner {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 15px 40px 15px;
}

.page-inner p {
	line-height: 150%;
}

.page-inner ul li, .page-inner ol li {
	line-height: 160%;
}

.form-control {
	margin-bottom: 20px;
}

.form-control input, .form-control textarea, .form-control select {
	margin-top: 5px;
}

#markdown {
	width: 100%;
	border: 3px solid rgba(0,0,0,.07);
	padding: 5px 15px;
	resize: none;
	min-height: 300px;
	overflow: hidden;
	outline: none;
	border-radius: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.7;
	letter-spacing: .2px;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

button {
	padding: 8px 25px;
	font-size: inherit;
	line-height: inherit;
	/*border-radius: 3px;*/
	border-radius: 80px;
	border: 3px solid rgba(0,0,0,.07);
	background-color: #fafafa;
	color: inherit;
}

button:hover {
	background-color: #ececec;
}

button.icons {
	padding-left: 22px;
}

select ::-ms-expand {
	display: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(../images/arsel.png) no-repeat;
	background-position: right 10px top 16px;
}

input[type="text"],input[type="password"],input[type="email"],select,input[type="number"] {
	width: 100%;
	border: 3px solid rgba(0,0,0,.07);
	padding: 5px 15px;
	border-radius: 3px;
	font-size: 1.6rem;
	line-height: 1.7;
	letter-spacing: .2px;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

option {
	width: 100%;
	padding: 5px 15px;
	font-size: 1.6rem;
	line-height: 1.7;
	letter-spacing: .2px;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}


mark {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	direction: ltr;
	margin: 0;
	/*padding: 0;*/
	border: none;
	color: inherit;
	padding: .2em;
	font-size: .90em;
	background-color: #f4f4f4;
}

#page-form button {
	margin: 10px 0;
}

#login-form {
	max-width: 350px;
}

label {
	font-weight: 700;
}

label.required:after {
	content: ' *';
	color: #da0000;
}

.info-text {
	padding: 5px 15px;
	margin: 5px 0 3px;
	font-size: small;
	font-style: italic;
	color: #adaca8;
	background-color: rgba(150, 150, 150, 0.06);
}

#page-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.7rem;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	line-height: 1.6em;
	letter-spacing: .2px;
	margin-top: 10px;
	color: #555;
	word-wrap: break-word;
	max-width: 770px;
}

#page-text blockquote, #page-text dl, #page-text ol, #page-text p, #page-text table, #page-text ul {
	margin-top: 0;
	margin-bottom: .85em;
}

#page-text blockquote {
	margin: 0;
	padding: 0 15px;
	color: #818181;
	background-color: #fafafa;
	border-left: 4px solid #dbdbdb;
}

#page-text p {
	orphans: 3;
	widows: 3;
}

#page-text img {
	max-width: 100%;
}

.page-wrapper code, .page-wrapper pre, #page-text code, #page-text pre {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	direction: ltr;
	margin: 0;
	/*padding: 0;*/
	border: none;
	color: inherit;
	/*padding: .2em;*/
	font-size: .95em;
	background-color: #f4f4f4;
}

.page-wrapper pre, #page-text pre {
	overflow: auto;
	word-wrap: normal;
	margin: 0;
	padding: .85em 1em;
	margin-bottom: 1.275em;
	background: #f7f7f7;
}

.page-wrapper pre>code, #page-text pre>code {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	white-space: pre;
	background: 0 0;
	font-weight: 200;
}

#page-list-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	border-color: rgb(236, 236, 236);
	margin: 20px 0;
}

#page-list-table thead {
	display: table-header-group;
	border-color: inherit;
}

#page-list-table th, #page-list-table td {
	margin: 0;
	border-bottom: 3px solid rgb(236, 236, 236);
	border-left: 3px solid rgb(236, 236, 236);
	padding: 0.5em;
}

#page-list-table th {
	text-align: left;
	background-color: #fafafa;
}

#page-list-table th:first-child, #page-list-table td:first-child {
	border-left: none;
}

#page-list-table td:last-child {
	padding-left: 10px;
}

#page-list-table tr:hover td, #page-list-table tr.open td {
	background: #ffd;
}

#page-list-table td {
	border-bottom: 1px solid rgb(236, 236, 236);
}

#page-list-table tr:nth-child(even) {
	background-color: #fafafa;
}
.sortable {
	cursor: all-scroll;
}
/* Modal Content/Box */

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.6);
}

#screen-content {
	position: relative;
	background-color: #fefefe;
	margin: 100px auto;
	padding: 20px 30px;
	border: 1px solid #888;
	width: 80%;
	max-width: 780px;
}
#screen-content h1,#screen-content h2,#screen-content h3,#screen-content h4 {
	margin-bottom: .4em;
}

/* The Close Button */
.close {
	position: absolute;
	top: 5px;
	right: 15px;
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@media (min-width: 1100px) {
	.summary-wrapper .close {
		display: none;
	}
}

#delay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#delay #clamp {
	width: 100%;
	height: 100%;
	background-image: url('../images/bg_black.png');
	background-repeat: repeat;
	position: relative;
}

#delay #clamp #stop-delay {
	background: url('../images/icon-close.svg') center no-repeat;
	position: absolute;
	font-size: 1.3em;
	width: 1.3em;
	height: 1.3em;
	line-height: 100%;
	top: 20px; right: 20px;
	text-decoration: none !important;
	border: none !important;
	box-shadow: none;
	color: #3087cc;
}

#delay #clamp #loader {
	background: url('../images/ajax-loader.gif') center no-repeat;
	position: absolute;
	display: block;
	padding: 10px;
	width: 50%;
	height: 50%;
	max-height: 50px;
	overflow: auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

#delay #delay-info {
	color: #3087cc;
	text-align: center;
	position: absolute;
	overflow: auto;
	margin: auto;
	top: 54%;
	left: 0;
	bottom: 0;
	right: 0;
}

.message .error {
	padding: 15px;
	background-color: #fff2f3;
	color: #da0000;
	border: solid 3px #f3e3e4;
	border-radius: 3px;
}

.message .success {
	padding: 15px;
	background-color: #e3feda85;
	color: #31695a;
	border: solid 3px #e7f3e3;
	border-radius: 3px;
}